<header id="hero">
  <div class="hero-img" style="background-color: {{site.data.settings.images.hero_background_hex}}">
    <div class="row">
      <div class="col-lg-12">
        <a href="/"><img src="/img/footer-logo.png" class="nav-logo"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p class="name">Emma<br>Drews</p>
      </div>
      <div class="col-lg-8">
        <img src="/img/headshot.png" class="headshot">
      </div>
    </div>
	</div>
</header>
