<div class="row">
  <div class="col-lg-7">
    <h4 class="pink">About</h4>
    <p class="font-20">
      You can do it. A happy cloud. The only thing worse than yellow snow is green snow. Steve wants reflections, so let's give him reflections. We want to use a lot pressure while using no pressure at all. That's why I paint - because I can create the kind of world I want - and I can make this world as happy as I want it. It's beautiful - and we haven't even done anything to it yet. Let's go up in here, and start having some fun This is the fun part I can't think of anything more rewarding than being able to express yourself to others through painting.
    </p>
  </div>



  <div class="col-lg-3">
    <ul class="nav-list">
      <li><i class="fa fa-eye"></i>      Print</li>
      <li><i class="fa fa-eye"></i>    Websites</li>
      <li><i class="fa fa-eye"></i>    Branding</li>
    </ul>
  </div>
</div>
