.collage
  display: block
  padding-bottom: 4rem
  // a
  //   &:hover
  //     display: block
  //     position: absolute
  //     width: 80%
  //     height: 80%
  //     background: $brand
  //     z-index: -1

.relative
  position: relative

.absolute
  position: absolute

.quarter-image
  width: 25%

.half-image
  width: 50%

.three-fourth-image
  width: 75%

.full-image
  width: 100%

.collage-block
  padding: 3rem

.pin-b
  bottom: 0

.pin-r
  right: 0

.pin-t
  top: 10rem

.pin-l
  left: 0

.collage-block:hover .pink-square
  display: block
  position: absolute
  width: 70%
  height: 70%
  background: $brand
  z-index: -1


.underline-magical
  color: #000
  margin-top: 7rem
  text-align: center
  background: 0 100% no-repeat linear-gradient(180deg, #fbdb56 50%, #fbdb56 50%)
  background-size: 0 40%
  transition: background-size 0.25s ease-in
  &:hover
    background-size: 100% 40%
    text-decoration: none
    color: #000
