.footer
	color: #000
	.attribution
		svg
			fill: #000
	.socials
		line-height: 75px
		svg
			fill: #000
	a
		color: #000


.pink
	color: $brand

#side-logo
	width: 90%
	margin: 0 auto


.margin-left-10
	margin: 5rem 5rem 5rem 10rem

.margin-left-20
	margin: 0rem 5rem 5rem 20rem

.margin-left-30
	margin: 0rem 5rem 5rem 30rem

.font-20
	font-size: 20px

.nav-list
	max-width: 40%
	text-align: center
	color: $brand
	margin-top: 7rem
	list-style: none
	i
		margin-right: 3rem
