.footer
	background: #e8e8e8
	color: #000
	padding: 2rem
	text-align: center
	font-size: 18px
	hr
		border-top: 2px solid $brand
	address
		font-style: normal
@media(max-width: 500px)
	.footer
		text-align: center
		.vyral-logo
			@include size(3rem)

.attribution
	text-align: center

.footer-logo
	display: inline
	max-width: 100px

.footer-name
	font-family: 'Playfair Display', serif
	font-weight: 900
	// margin: 5rem
	text-align: left
	font-size: 40px
	color: #000
	line-height: 52px

.navbar-footer>li>a
	padding: 0
	margin: 2rem
	color: #000
	text-align: center
	background: 0 100% no-repeat linear-gradient(180deg, #fbdb56 50%, #fbdb56 50%)
	background-size: 0 40%
	transition: background-size 0.25s ease-in
	&:hover
		background-size: 100% 40%
		text-decoration: none
		color: #000

.navbar-nav
	float: none
	text-align: center
	display: inline-block
	margin: 0 auto

.footer-nav
	text-align: center
